body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, rgb(26, 80, 137), rgb(212, 0, 255));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.swf-bright-green {
  color: rgb(43, 226, 119);

}.swf-bg-blue-green {
  background-color: rgb(138, 247, 245);
}

.swf-skew10dneg {
 transform: skew(-10deg);
}

.swf-txtshadow {
  text-shadow: 
  -1px -1px 0 rgb(42, 37, 52),
  -2px -2px 0 rgb(42, 37, 52),
  -3px -3px 0 rgb(42, 37, 52),
  -4px -4px 0 rgb(42, 37, 52),
  -5px -5px 0 rgb(42, 37, 52),
  -6px -6px 0 rgb(42, 37, 52),
  -7px -7px 0 rgb(42, 37, 52),
  -8px -8px 0 rgb(42, 37, 52),
  -30px -20px 40px rgb(42, 37, 52);
}

.swf-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}